**/provider.tf
**/.terraform
**/*.tfstate
**/*.tfstate.backup
**/*.tfstate.lock.hcl
**/.tfstate
**/.tfstate.backup
**/.tfstate.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.lock.hcl
